version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: kasparro
      POSTGRES_PASSWORD: kasparro
      POSTGRES_DB: kasparro
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://kasparro:kasparro@db:5432/kasparro
      COINPAPRIKA_API_KEY: ""
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  pgdata:
